.padding {
  background-color: $pink-dark;
  padding: 30rem;
}

.navbar-bts {
  padding: 2rem;
  background-color:$blue-dark;
  width: 100% !important;
  position: relative;

  & .navbar-brand {
    width: 40%;

    & img {
      width: 15rem;
      height: 6rem;

      @media only screen and (max-width: $bp-large-3) {
        width: 10rem;
        height: 4rem;
      }
    }

    @media only screen and (max-width: $bp-large-3) {
      width: 70%;
    }
  }

  & span {
    font-size: 5rem;
    font-family: $display-font;
    color: $pink-dark;
    display: inline-block;
    margin-right: 1.5rem;
    font-weight: bolder;
    letter-spacing: .5rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 4rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 3rem;
    }
  }
  
}

button.navbar-toggler {
  position: absolute;
  right: 1rem;
}

span.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;

}

.fa-bars:before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30%;
}

.dropdown-item {
  font-size: 2rem;
}

.display-flex {
  display: flex;
}

.navbar-nav {
  width: 60%;
}


.nav-item {
  // display: flex;
  // justify-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: $pink-dark;
  font-weight: bold;
  letter-spacing: .1rem;
  font-family: $body-font;
  
  &:not(:last-child) {
   margin-right: 4rem;
   }

  & a {
    color: inherit;
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 2rem;
  }

  @media only screen and (max-width: $bp-large-1) {
    font-size: 1.8rem;
  } 

  @media only screen and (max-width: $bp-large-2) {
    font-size: 1.6rem;
  }
}

.navbar-nav .dropdown-menu {
  position: absolute;
  color: $pink-dark;
  background-color: $blue-dark;
  border: .3rem $pink-dark solid;
  font-size: 1.4rem;
  font-family: $body-font;
}

.dropdown-toggle::after {
  color: $pink-dark;
  background-color: $blue-dark;
}
